* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #B3B3B3;
}

a {
  color: #020202;
  text-decoration: none;
}

.headerdiv {
  margin-right: 20px;
}

footer {
  width: 100%;
  margin-top: auto;
  height: 2.5rem;
  background-color: #29ABE2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer p {
  margin-right: 40px;
}